div#content {
  display: flex;
  align-content: flex-start;
  position: relative;

  > article {
    flex: 1 1 auto;
    min-height: calc(100vh - 54px);
    overflow-y: auto;
    display: flex;
    align-items: center;

    > form#noAudioFileLibrary {
      display: block;
      text-align: center;
    }

    > div#fileList {
      flex: 1 1 auto;
    }

    > p {
      flex: 1 1 auto;
      text-align: center;
    }

    > .tabulator {
      .tabulator-header {
        border-color: #e6e6e6;

        .tabulator-header-contents .tabulator-headers {
          .tabulator-col {
            font-weight: bold;
            padding: 0 0 0 10px;
            border-color: #e6e6e6;
            cursor: default;

            .tabulator-col-sorter {
              display: none;
            }
          }

          .tabulator-col:not([aria-sort="none"]) {
            .tabulator-col-sorter {
              display: flex;
            }
          }

          .tabulator-col[aria-sort="none"] {
            font-weight: normal;
          }

          .tabulator-col:hover {
            background: none;
          }

          .tabulator-header-filter {
            padding-right: 10px;

            input[type="search"] {
              border: 1px #c0c0c0 solid;
              border-radius: 10px;
            }
          }
        }
      }

      .tabulator-tableholder {
        .tabulator-row {
          border: none;
          cursor: default;
        }

        .even-row {
          background-color: #f9f9f9;
        }

        .odd-row {
          background-color: #ffffff;
        }

        .playback_image {
          svg.volume-up path, svg.volume-off path {
            fill: var(--accent-color);
          }

          svg.play-queue path {
            opacity: 0.25;
          }
        }

        .tabulator-row.tabulator-selected {
          background-color: var(--row-highlight);
          color: var(--accent-color-contrast-color);

          .playback_image {
            svg path {
              fill: var(--accent-color-contrast-color);
            }

            svg.play-queue path {
              opacity: 0.75;
            }
          }
        }

        .tabulator-cell {
          border: none;
          padding: 8px;
        }

        [tabulator-field="playback_image"] {
          padding: 0;

          .playback_image {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: right;

            svg, input[type="image"] {
              width: 16px;
              height: 16px;
            }
          }
        }

        .tabulator-col-resize-handle {
          display: none;
        }
      }
    }
  }

  // hides tabulator row visibility while row is being dragged
  .tabulator-moving {
    display: none;
  }
}
